
/*-- scss:defaults --*/

/* Quarto base colors: https://quarto.org/docs/output-formats/html-themes.html#colors */

$body-bg:    #232634;
$body-color: #c6d0f5;
$link-color: #8caaee;
$input-bg:   #51576d;
$popover-bg: #51576d;

/* Bootstrap gray scale https://github.com/twbs/bootstrap/blob/c82919e8970c7ebebb87ded191b815c76737cd04/scss/_variables.scss#L10-L18 */

$gray-100: #b5bfe2;
$gray-200: #a5adce;
$gray-300: #949cbb;
$gray-400: #838ba7;
$gray-500: #737994;
$gray-600: #626880;
$gray-700: #51576d;
$gray-800: #414559;
$gray-900: #303446;

/* Bootstrap base colors: https://github.com/twbs/bootstrap/blob/c82919e8970c7ebebb87ded191b815c76737cd04/scss/_variables.scss#L39-L48*/

$blue:    #8caaee;
$indigo:  #babbf1;
$purple:  #ca9ee6;
$pink:    #f4b8e4;
$red:     #e78284;
$orange:  #ef9f76;
$yellow:  #e5c890;
$green:   #a6d189;
$teal:    #81c8be;
$cyan:    #99d1db;