
/*-- scss:defaults --*/

/* Quarto base colors: https://quarto.org/docs/output-formats/html-themes.html#colors */
$body-bg:    #24273a;
$body-color: #cad3f5;
$link-color: #8aadf4;
$input-bg:   #363a4f;
$popover-bg: #494d64;

/* Bootstrap gray scale https://github.com/twbs/bootstrap/blob/c82919e8970c7ebebb87ded191b815c76737cd04/scss/_variables.scss#L10-L18 */
$gray-100: #363a4f;
$gray-200: #494d64;
$gray-300: #5b6078;
$gray-400: #6e738d;
$gray-500: #8087a2;
$gray-600: #939ab7;
$gray-700: #a5adcb;
$gray-800: #b8c0e0;
$gray-900: #cad3f5;


/* Bootstrap base colors: https://github.com/twbs/bootstrap/blob/c82919e8970c7ebebb87ded191b815c76737cd04/scss/_variables.scss#L39-L48*/
$blue:    #8aadf4;
$indigo:  #b7bdf8;
$purple:  #c6a0f6;
$pink:    #f5bde6;
$red:     #ed8796;
$orange:  #f5a97f;
$yellow:  #eed49f;
$green:   #a6da95;
$teal:    #8bd5ca;
$cyan:    #91d7e3;